body {
    font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    padding-top: 15%;
    background: linear-gradient(to right, lightslategray , pink);
    background-size: 101% 100%;
    -webkit-background-size: 101% 100%;
    -moz-background-size: 101% 100%;
    -o-background-size: 101% 100%;
    background-size: 101% 100%;
    /* background-attachment: fixed; */
}

@media (max-width: 768px) {
    h1 {
      font-size: 2em; /* adjust this value as needed */
    }
}
  
  
h1 {
    font: 600 2em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}

#btnrandom{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px
}

#btnrandom:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
